.header {
  height: var(--header--height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar {
  /* đưa 2 thẻ ul lên cùng 1 hàng */
  display: flex;
  /* đưa 2 thẻ li cách khỏi nhau */
  justify-content: space-between;
}
.header__navbar-list {
  /* ẩn dâú chẩm thẻ li */
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
  display: flex;
}
.header__navbar-item {
  /* khoảng cách các thẻ li */
  margin: 0 8px;
  position: relative;
}
.header__navbar-user {
  display: flex;
  justify-content: center;
  position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}
.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
  margin-left: 8px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user-menu {
  position: absolute;
  z-index: 1;
  padding-left: 0;
  top: calc(100% + 4px);
  right: 0;
  background-color: var(--white--color);
  border-radius: 2px;
  width: 160px;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}
.header__navbar-user-item {
}
.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text--color);
  font-size: 1.4rem;
  padding: 8px 16px;
  display: block;
}
.header__navbar-user-item a:hover {
  background-color: #fafafa;
}
.header__navbar-user-item a:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.header__navbar-user-menu::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white--color) transparent;
  position: absolute;
  right: 12px;
  top: -27px;
}
.header__navbar-user-menu::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: 0;
  width: 60%;
  height: 8px;
}

.header__navbar-item,
.header__navbar-item-link {
  display: flex;
  font-size: 1.5rem;
  color: var(--white--color);
  text-decoration: none;
  font-weight: 300;

  align-items: center;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-qr:hover .header__qr {
  display: block;
}

.header__navbar-item--bold {
  font-weight: 500;
}
/* gạch ngăn cách giữa các chữ trên thẻ li */
.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9068;
  height: 16px;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
}
.header__navbar-icon-link {
  color: var(--white--color);
  text-decoration: none;
}
.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}
.header__navbar-title-no-pointer {
  cursor: text;
  color: var(--white--color);
}

/* Header QR CODE */
.header__qr {
  width: 185px;
  background-color: var(--white--color);
  position: absolute;
  left: 0;
  top: 118%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: -16px;
  display: block;
}
.header__qr-img {
  width: 100%;
}
.header__qr-app {
  display: flex;
  justify-content: space-between;
}
.header__qr-link:first-child {
  margin-left: 11px;
}
.header__qr-link:last-child {
  margin-right: 11px;
}
.header__qr-dow {
  height: 16px;
}

/* form thông báo */
.header__notification {
  position: absolute;
  top: 118%;
  /* đẩy thông báo sang bên trái */
  right: 0;
  width: 370px;
  border: 1px solid #d3d3d3;
  background-color: var(--white--color);
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotify ease-in 0.25s;
  /* tối ưu chuyển động  */
  will-change: opacity, transform;
  display: none;
  z-index: 1;
}
/* tao mui ten o thong bao */
.header__notification::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white--color) transparent;
  position: absolute;
  right: 12px;
  top: -27px;
}
/* tạo cầu nối */
.header__notification::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -16px;
  width: 90px;
  height: 20px;
}
.header__navbar-item--hover:hover .header__notification {
  display: block;
}

@keyframes headerNotify {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* để copy class nhanh dùng ctrl D sau đó  alt shift -> */
.header__notification-head {
  height: 40px;
  background-color: var(--white--color);
}

.header__notification-head h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
}
.header__notification-list {
  padding-left: 0;
}
.header__notification-item {
  display: flex;
}

/* khi di chuột vào đổi thành màu trắng */
.header__notification-item:hover {
  background-color: #f7f7f7;
}
/* màu hồng ở mỗi dòng thông báo */
.header__notification-item--viewed {
  background-color: rgba(238, 75, 43, 0.1);
}
.header__notification-link {
  display: flex;
  padding: 12px;
  width: 100%;
  /* bỏ gạch chân */
  text-decoration: none;
  /* nền ảnh có màu  */
}
.header__notification-img {
  width: 48px;
  /* để ảnh không méo */
  object-fit: contain;
}
.header__notification-info {
  margin-left: 12px;
}
.header__notification-name {
  /* cho 2 thẻ này mỗi thẻ 1 dòng để hiển thị thông tin */
  display: block;
  font-size: 14px;
  color: var(--black--color);
  margin-bottom: 8px;
}
.header__notification-descrio {
  display: block;
  font-size: 12px;
  color: #ccc;
}

.header__notification-footer {
  display: flex;
}
.header__notification-btn {
  text-decoration: none;
  color: var(--text--color);
  width: 100%;
  padding: 8px 0px;
  /* căn giữa */
  text-align: center;
}

/* modal */
.modal__content {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
  --growth-from: 0.7;
  --growth-to: 0.1;
  position: relative;
  margin: auto;
  animation: growth linear 0.1s;

  z-index: 1;
}
/* auth modal */
.auth-form {
  width: 500px;
  background-color: var(--white--color);
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 32px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text--color);
}
.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary--color);
  cursor: pointer;
}
.auth-form__input {
  height: 40px;
  width: 100%;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border-radius: 2px;
  border: 1px solid #bdbdbd;
  outline: none;
}
.auth-form__input:focus {
  border-color: #888;
}
.auth-form__aside {
  margin-top: 20px;
}
.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  padding: 0 12px;
}
.auth-form__policy-link {
  text-decoration: none;
  color: var(--primary--color);
}
.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: end;
}
.auth-form__controls-space {
  margin-right: 8px;
}
.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.auth-form__socials-icon {
  font-size: 1.8rem;
}
.auth-form__socials--face .auth-form__socials-google {
  color: var(--white--color);
}
.auth-form__socials--face {
  color: var(--white--color);
  background-color: #3a5a98;
}
.auth-form__socials-google {
  color: #666;
  background-color: var(--white--color);
}
.auth-form__socials-title {
  margin: 0 20px;
}

/* dang nhap */
.auth-form__help {
  display: flex;
  justify-content: flex-end;
}
.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
}
.auth-form__help-gach {
  display: block;
  height: 20px;
  border-left: 1px solid var(--black--color);
  margin: 0 16px;
}
.auth-form__help-forgot {
  color: var(--primary--color);
}

.header-with-search {
  height: var(--header--with-search--height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.header__logo {
  width: 200px;
}
.header__logo-link {
  text-decoration: none;
  color: transparent;
}
.header__logo-img {
  width: 150px;
}
.header__search {
  flex: 1;
  border-radius: 2px;
  background-color: var(--white--color);
  height: 40px;
  display: flex;
  align-items: center;
}
/* start card */
.header-cart {
  width: 150px;
  text-align: center;
}
.header-cart-wrap-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.header-cart-wrap-icon:hover .header-cart-list {
  display: block;
}
.header-cart-icon {
  font-size: 2.6rem;
  color: var(--white--color);
}
.header-cart-list {
  position: absolute;
  top: calc(100% + 12px);
  right: 0px;
  background-color: var(--white--color);
  width: 400px;
  border-radius: 3px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  display: none;
  cursor: default;
  z-index: 1;
}

.header-cart-no-cart-img {
  width: 100%;
  height: 200px;
  display: none;
}
.header-cart-list-no-cart {
  padding: 24px 0;
}
.header-cart-list-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  margin-top: 20px;
}
.header-cart-list-no-cart .header-cart-no-cart-img,
.header-cart-list-no-cart .header-cart-list-no-cart-msg {
  display: block;
}

.header-cart-list::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -30px;
  border-width: 20px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white--color) transparent;
  cursor: pointer;
}
.header-cart-notice {
  position: absolute;
  padding: 1px 4px;
  background-color: var(--white--color);
  color: var(--primary--color);
  font-size: 1.4rem;
  line-height: 1.4rem;
  border: 2px solid #ee4d2d;
  border-radius: 10px;
  top: -8px;
  right: -8px;
}

/* list cart */
.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  height: 50vh;
  overflow-y: auto;
}
.header__cart-item {
  display: flex;
  align-items: center;
}
.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 40px;
  height: 40px;
  margin: 12px;
  border: 1px solid #ccc;
}
.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart-item-name {
  font-size: 1.4rem;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  margin: 0;
  font-weight: 400;
  color: var(--text--color);
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}
.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary--color);
}
.header__cart-item-multiply {
  font-size: 1rem;
  margin: 0 4px;
  color: #757575;
}
.header__cart-item-quantity {
  font-size: 1.2rem;
  font-weight: 400;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}
.header__cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}
.header__cart-item-remove {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}
.header__cart-item-remove:hover {
  color: var(--primary--color);
  cursor: pointer;
}
.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover {
  background-color: #f05d41;
}
/* end cart */

.header__search-input-wrap {
  flex: 1;
  width: 100%;
  position: relative;
}

/* search history */
.header__search-history {
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white--color);
  border-radius: 3px;
  box-shadow: 0 1px 5px #666;
  display: none;
  overflow: hidden;
  z-index: 1;
}
.header__search-history-heading {
  margin: 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0;
}
.header__search-history-item {
  height: 38px;
  padding: 0 16px;
}

.header__search-history-item:hover {
  color: #fafafa;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text--color);
  line-height: 38px;
  display: block;
}
/* end search history */

.header__search-input:focus ~ .header__search-history {
  display: block;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text--color);
  padding: 0 16px;
  border-radius: 3px;
}
.header__search-select {
  border-left: 1px solid #ccc;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}
.select-label {
  font-size: 1.4rem;
  color: var(--text--color);
}
.select-label-icon {
  font-size: 1.4rem;
  color: var(--text--color);
  margin: 0 16px 0 8px;
  position: relative;
  top: 2px;
}
.header__search-btn {
  height: 36px;
  border: none;
  background-color: var(--primary--color);
  margin-right: 3px;
  border-radius: 3px;
  width: 60px;
  outline: none;
}
.header__search-btn:hover {
  cursor: pointer;
  background-color: #fb9068;
}
.header__search-btn-icon {
  color: var(--white--color);
  font-size: 1.4rem;
}

.header__search-select:hover .header__search-select-option {
  display: block;
}
.header__search-select-option {
  position: absolute;
  right: 0;
  top: calc(100% - -6px);
  width: 132px;
  list-style: none;
  border-radius: 3px;
  box-shadow: 0 0 3px #f53e2d;
  padding-left: 0;
  animation: fadeIn ease-in 0.2s;
  display: none;
  z-index: 1;
}
.header__search-select-option::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;

  position: absolute;
  top: -10px;
  left: 0;
}
.header__search-select-option-item {
  background-color: var(--white--color);
  padding: 8px 8px;
}
.header__search-select-option-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.header__search-select-option-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.header__search-select-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.header__search-select-option-item span {
  font-size: 1.4rem;
  color: var(--text--color);
  margin-left: 8px;
}
.header__search-select-option-item i {
  font-size: 1.2rem;
  color: var(--primary--color);
  margin-left: 12px;
  display: none;
}
.header__search-select-option-item--active i {
  display: inline-block;
}

/* app container */
.app__container {
  background-color: #f5f5f5;
}
.app__content {
  padding-top: 36px;
}
.category {
  background-color: var(--white--color);
  border-radius: 2px;
}
.category__heading {
  font-size: 1.8rem;
  color: var(--text--color);
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0;
}
.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
}
.category-list {
  list-style: none;
  padding-left: 0;
  margin-left: 12px;
}
.category-item {
}
.category-item-active .category-item__link {
  color: var(--primary--color);
}
.category-item-active .category-item__link::before {
  position: absolute;
  top: 50%;
  left: 4px;
  content: "";
  border: 4px solid;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--primary--color);
}
.category-item__link {
  position: relative;
  font-size: 1.6rem;
  color: var(--text--color);
  text-decoration: none;
  display: block;
  padding: 8px 16px;
  transition: right linear 0.1s;
  right: 0;
}
.category-item__link:hover {
  right: -4px;
  color: var(--primary--color);
}
/* home sort  + filer */
.home-filter {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 12px 22px;
  border-radius: 2px;
}
.home-filter__label {
  font-size: 1.4rem;
  color: #555555;
  margin-right: 16px;
}

.home-filter__paginate {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}
.home-filter__paginate-number {
  font-size: 1.4rem;
  color: var(--text--color);
  margin-right: 20px;
}
.home-filter__paginate-current {
  color: var(--primary--color);
}
.home-filter__paginate-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}
.home-filter__paginate-btn {
  flex: 1;
  display: flex;
  background-color: var(--white--color);
  text-decoration: none;
}
.home-filter__paginate-btn:first-child {
  border-right: 1px solid #ccc;
}
.home-filter__paginate-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}
.home-filter__paginate-btn--disable {
  cursor: default;
  background-color: #f9f9f9;
}
.home-filter__paginate-btn--disable .home-filter__paginate-icon {
  color: #ccc;
}
/* product */
.home-product {
  margin-bottom: 10px;
}
.home-product-all {
  text-decoration: none;
}

.home-product-item {
  background-color: var(--white--color);
  margin-top: 10px;
  position: relative;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
}
.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}
.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text--color);
  line-height: 1.8rem;
  margin: 10px;
  /* khi chu dai qua se bi cat di thanh dau '...' */
  height: 3.6rem;

  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-product-item__price {
  display: flex;

  justify-content: baseline;
  flex-wrap: wrap;
}
.home-product-item__price-old {
  font-size: 1.4rem;
  margin-left: 10px;
  color: #666;
  text-decoration: line-through;
}
.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary--color);
  margin-left: 10px;
}
.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.home-product-item__love {
  font-size: 1.4rem;
}
.home-product-item__love-loved .home-product-item__love-icon-empty {
  display: none;
}
.home-product-item__love-loved .home-product-item__love-icon-fill {
  display: inline-block;
}
.home-product-item__love-icon {
}
i.home-product-item__love-icon-fill {
  color: red;
  display: none;
}
.home-product-item__rating {
  font-size: 0.9rem;
  color: #d5d5d5;
  margin-left: auto;
}
.home-product-item__star--gold {
  color: #ffce3e;
}
.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text--color);
  margin-left: 6px;
}
.home-product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}
.home-product-item__brand {
}
.home-product-item__origin-name {
}
.home-product-item__favorite {
  position: absolute;
  top: 10px;
  left: -4px;
  background-color: currentColor;
  color: var(--primary--color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.home-product-item__favorite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  border-top: 5px solid currentColor;
  border-left: 5px solid transparent;
  filter: brightness(60%);
}
.home-product-item__favorite span {
  color: var(--white--color);
}
.home-product-item__favorite i {
  margin: 0 3px 0 5px;
  color: var(--white--color);
}
.home-product-item__sale-up {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 216, 64, 1);
  text-align: center;
}
.home-product-item__sale-up::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  border-width: 0 20px 5px;
  border-style: solid;
  color: rgba(255, 216, 64, 1);
  border-color: red currentColor transparent currentColor;
}
.home-product-item__sale-up-percent {
  color: #ee4d2d;
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 600;
  position: relative;
  top: 4px;
}
.home-product-item__sale-up-label {
  color: var(--white--color);
  font-size: 1.4rem;

  line-height: 1.4rem;
  position: relative;
  top: 4px;
}
.home-product__pagniation {
  margin: 48px 0 32px 0;
}
/* footer */
.footer {
  border-top: 4px solid var(--primary--color);
  padding-top: 16px;
  background-color: var(--white--color);
}
.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text--color);
}
.footer__list {
  list-style: none;
  padding-left: 0;
}
.footer__list-item-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 6px 0;
  display: flex;
  align-items: center;
}
.footer__list-item-link:hover {
  color: var(--primary--color);
}
.footer__list-item-icon {
  font-size: 1.8rem;
  margin-right: 8px;
}
.footer__dow {
  display: flex;
}
.footer__dow-qr {
  width: 80px;
  height: 80px;

  border: 1px solid #ccc;
}

.footer__dow-app {
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__dow-app-img {
  height: 24px;
}
.footer__dow-app-link {
  color: transparent;
  text-decoration: none;
}
.footer__bottom {
  background-color: #f5f5f5;

  padding: 20px 0;
}
.footer__text {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
}
